.individuals {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

@media print {
	.individuals {
		padding: 0;
	}
}

.individuals__form label {
	display: inline-block;
}
.individuals__form input {
	margin-right: .5em;
}

.individuals__table + .individuals__table {
	margin-top: 1em;
}

.individuals__icon {
	display: inline-block;
	height: 1em;
	vertical-align: middle;
	margin: -.25em .5em 0 0;
}